body {
  background-color: rgb(39, 39, 39);
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-corner {background-color: transparent;}
::-webkit-scrollbar-thumb {
  background: #888;
}